

body {
    background-color: rgb(2, 151, 102);
    color: black;
}

.container {
    background-color: white;
    width: 60%;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}